<div   ng-controller="emailsController" ng-init="readOneEmail()">
   
  
 
 <dl class="dl-horizontal" ng-repeat="email in oneEmail" >
	   
		  <dt><h3>{{email.subject}}</h3></dt>
		  <dd>{{email.body}}<dd></dd></dd>
		  <dd>{{email.from}}<dd></dd></dd>
		  <dd>{{email.to}}<dd></dd></dd>
	   
 </dl>
 

          <form  ng-submit="replayEmail()">
			 <div class="form-group">
			  <label for="usr">To:</label>
			  <input type="text" class="form-control" id="to" name="to" ng-model="from" value="{{email.to}}">
			</div>
              <div class="form-group">
			  <label for="usr">Subject:</label>
			  <input type="text" class="form-control" id="subject" ng-model="subject">
			  <input type="hidden" class="form-control" id="subject" ng-model="id">
			  <input type="hidden" class="form-control" id="parent_id" ng-model="parent_id">
			  </div>
 
               <div class="form-group">
                <label for="comment">Body</label>
				 
                <textarea class="form-control" rows="5" id="body" ng-model="body" name="body"></textarea> 
				   <div ng-messages="body.$error" ng-show="body.$dirty">
					  <div ng-message="required">This is required!</div>
					  <div ng-message="md-maxlength">That's too long!</div>
					</div>
                </div>
                   
             <div class="form-group">  
    <button type="submit" class="btn btn-primary">Submit</button>
				
	</div>
                   
 
            </div>
 
 
       
       
           
       
    </form>
  
 
    
</div> <!-- end row -->